<nav class="selectCourse BlueBackground">
    <ul>
        <li>
            <a routerLink="home">
                <div class="back">
                        <span class="material-symbols-outlined" >
                            arrow_back_ios
                        </span>
                </div>
            </a>

        </li>
    </ul>
    <ul class="titleUl">
        <li>
            <h1 class="title">Selecione seu curso:</h1>
        </li>
    </ul>
</nav>   
<main>
    <div class="col">
        <button class="btCourse text">Desenvolvimento de<br> sistemas</button>
        <button class="btCourse text">Mecanico de usina</button>
        <button class="btCourse text">Soldagem</button>
    </div>
    <div class="col">
        <button class="btCourse text">Elétrica</button>
        <button class="btCourse text">Assistente de ADM</button>
        <button class="btCourse text">Administração</button>
    </div>
    <div class="col">
        <button class="btCourse text">Metalurgia</button>
        <button class="btCourse text">Mecânica</button>
        <button class="btCourse text">Outros</button>
    </div>
</main>