<nav class="selectCourse BlueBackground">
    <ul>
        <li>
            <a routerLink="/home">
                <div class="back">
                    <svg class="material-symbols-outlined" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                </div>
            </a>
        </li>
    </ul>
    <ul class="titleUl">
        <li>
            <h1 class="title">Selecione seu curso:</h1>
        </li>
    </ul>
</nav>   
<main>
    <div class="col">
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno DS')" class="btCourse text">Desenvolvimento de sistemas</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Mecânico de usinagem')" class="btCourse text">Mecânico de usinagem</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Soldagem')" class="btCourse text">Soldagem</button></a>
    </div>
    <div class="col">
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Elétrica')" class="btCourse text">Elétrica</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Assistente de ADM')" class="btCourse text">Assistente de ADM</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Administração')" class="btCourse text">Administração</button></a>
    </div>
    <div class="col">
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Metalurgia')" class="btCourse text">Metalurgia</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Mecânica')" class="btCourse text">Mecânica</button></a>
        <a routerLink="/confirmation"><button mat-button (click)="enviarDados('Aluno Outros')" class="btCourse text">Outros</button></a>
    </div>
</main>