<nav class="selectCourse BlueBackground">
    <ul>
        <li>
            <a routerLink="/home">
                <div class="back">
                        <span class="material-symbols-outlined" >
                            arrow_back_ios
                        </span>
                </div>
            </a>

        </li>
    </ul>
    <ul class="titleUl">
        <li>
            <h1 class="title">Selecione seu curso:</h1>
        </li>
    </ul>
</nav>   
<main>
    <div class="col">
        <a routerLink="/confirmation"><button class="btCourse text">Desenvolvimento de sistemas</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Mecanico de usina</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Soldagem</button></a>
    </div>
    <div class="col">
        <a routerLink="/confirmation"><button class="btCourse text">Elétrica</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Assistente de ADM</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Administração</button></a>
    </div>
    <div class="col">
        <a routerLink="/confirmation"><button class="btCourse text">Metalurgia</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Mecânica</button></a>
        <a routerLink="/confirmation"><button class="btCourse text">Outros</button></a>
    </div>
</main>