<div class="titulo">
    <h1 class="title">Quem você é?</h1>
</div> 
<main>
    <div class="divUsuarios">
        <a routerLink="/curso"><button mat-button class="usuarios">Aluno(a)</button></a>
        <button mat-button (click)="show('professor')" class="usuarios">Professor(a)</button>
        <button mat-button (click)="show('funcionario')" class="usuarios">Funcionário(a)</button>
        <button mat-button (click)="show('visitante')" class="usuarios">Visitante</button>
    </div>
    <div class="dark" *ngIf="mostrar">
        <div class="PopUp" *ngIf="mostrar">
            <div class="BlueBorder">
                <h1 class="title">Deseja confirmar?</h1>
            </div>
            <div class="BelowPop">
                <a routerLink="/confirmation"><button (click)="enviarDados()" class="yes text_bt">SIM</button></a>
                <button class="no text_bt"  (click)="remove()">NÃO</button>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>© Produzido por: DS SESI Turma B. Todos os direitos reservados</p>
</footer>