@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: #0094FF;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: white;
}

img {
    width: 780px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-56%, -50%);

    margin-top: 124px;
}

.text {
    margin-top: 160px;
}

.white {
    height: 66vh;
    width: 100vw;

    position: relative; 

    background-color: white;

    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}